<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>v-model 数据源绑定</title>
</head>
<body>
<h1>v-model 数据源绑定</h1>
<hr />
<div id='app'>
	<p>原始文本信息：{{message}}shenxinze</p>
	<h3>文本框</h3>
	<p>v-model:<input type="text" v-model='message' /></p>
	<p>v-model.lazy:<input type="text" v-model.lazy='message' /></p>
	<p>v-model.number:<input type="text" v-model.number='message' /></p>
	<p>v-model.trim:<input type="text" v-model.trim='message' /></p>
	<hr />
	<h3>文本域</h3>
	<textarea  cols="30" rows="10" v-model="message"></textarea>
	<hr />
	<h3>多选框绑定一个值</h3>
	<input type="checkbox" id="isTrue" v-model="isTrue" />
	<label for="isTrue">{{isTrue}}</label>
	<hr />
	<h3>多选框绑定数组</h3>
	<p>
		<input type="checkbox" id="shen" v-model="web_names" value="shen" />
		<label for="shen">shen</label>
		<input type="checkbox" id="xin" v-model="web_names" value="xin" />
		<label for="xin">xin</label>
		<input type="checkbox" id="ze" v-model="web_names" value="ze" />
		<label for="ze">ze</label>
	</p>
	<p>{{web_names}}</p>
	<hr />
	<h3>单选框绑定</h3>
	<p>
		<input type="radio" id="one" v-model="sex" value="男" />
		<label for="one">男</label>
		<input type="radio" id="two" v-model="sex" value="女" />
		<label for="two">女</label>
	</p>
	<p>你选择的性别是：{{sex}}</p>
</div>
<script src='../assets/js/vue.js'></script>	
<script>
/*
	.lazy：取代 input 监听 change 事件。
	.number：输入字符串转为数字。
	.trim：输入去掉首尾空格。
*/
new Vue({
	el: '#app',
	data: {
		message: 'hello,world!',
		isTrue: true,
		web_names: [],
		sex: '男'
	}
})
</script>

</body>
</html>